* {
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
    background-color: #343434 ;
    color: #9f9f9f;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 3rem;
}

img {
    border-radius: 100%;
    width: 38.2vh;
    height: 38.2vh;
}