* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.header {
    text-align: center;
    margin: 4rem;
}
.avatar{
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
}

.container {
    margin: 10%;
    height: 60vh
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
