* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

h2 {
    text-align: right;
    margin-bottom: 3rem;
}

cite {
    display: block;
    text-align: right;
    margin-bottom: 3rem;

}

.container {
    margin-left: 5%;
    margin-right: 5%;

}

.mote {
    font-weight: 900;
    margin-bottom: 2rem;
}

.refrao {
    font-weight: 900;
    margin-bottom: 2rem;
}

.decima {
    margin-bottom: 2rem;
    margin-left: 2rem;

}

.estrofe {
    margin-bottom: 2rem;
    margin-left: 2rem;
}